*{
    box-sizing: border-box; /*heightやpaddingなどでサイズを指定しやすくするために必要なCSS*/
    margin:0;               /*htmlではあらかじめbodyにmarginがかかっているから初めに余白をなくす*/
    padding:0;
}

body{
    background-color:rgba(243,229,223,0.4);
}

h1{
    font-size:64px;
    color: rgba(77, 77,77, 0.8);
    font-family: 'Joan', serif;
    text-align: center;
    margin-bottom: 2%;
}

h2{
    font-size: 60px;
    color: #ab8bac;
    font-family: 'Joan', serif;
}

h3{
    font-size: 36px;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 20px;
}

p{
    font-size:16px;
    line-height:36px;
}

.heading{
    margin-left: 20%;
}

.ja{
    font-family: "Hiragino Maru Gothic ProN";
}
.en{
    font-family: 'Joan', serif;
}

/*#first*/

#first{
    width:100vw;
    padding:2% 0;
    margin-bottom: 5%;
}

.first-img{
    width:80vw;
    display: block;
    margin:0 auto;
}

#first h5{
    color:#ab8bac;
    display: flex;
}

#first h5{
    margin-left:10%;
}

#first  h5 div{
    margin-right:2%;
}

/*About全体*/
#about{
    padding:2% 0;
    background-image: url(images/About背景.png);
    background-position: 23% 50%;
    background-size:contain;
    background-repeat: no-repeat;
    width:100vw;
    height:50vw;
    margin-bottom: 3%;
}

#about .heading{
    margin-top: 5%;
    margin-bottom: 3%;
}

.about{
    display:flex;
    align-items: center;
    justify-content: center;
}

.about-text{
    margin:1% 3% 0 7%;
}

.about-img{
    width:37vw;
    height:27vw;
}

.about1{
    margin-bottom: 2%;
}

.about1 a{
    font-size: 28px;
    color: rgba(77, 77,77, 0.9);
    text-decoration: none;
    transition: .3s;
}

.about1 a:hover{
    color:rgba(171,139,172,0.9);
}

.about2{
    font-size: 16px;
    color: rgba(77, 77,77, 0.9);
    margin:0 0 15% 18%;
}


/*Color全体*/
#color{
    padding:2% 0;
    width:100vw;
}

#color .twocolor{
    display: flex;
    justify-content: center;
}

#color .coloreach{
    background-color: rgba(244,234,223,0.65);
    color: rgba(77, 77,77, 0.9);
    width: 30vw;
    height:30vw;
    border-radius: 10%;
    margin: 2%;
}

#color .coloreach h3{
    text-align: center;
    margin: 9% auto 14%;
}

#color .coloreach .cp{
    background-color: rgba(255,255,255, 0.5);
    width:25vw;
    height:16vw;
    padding:2%;
    margin:0 auto;
}

.open-box{
    display: none;
}

.daibutton{
    margin: 2% auto;
    text-align:center;
}

.button1{
    background-color: #fff;
    font-size: 16px;
    border-radius: 20px;
    color:#AB8BAC;
    font-family:"Hiragino Maru Gothic ProN" ;
    display: inline-block;
    width:15vw;
    height:3vw;
    line-height:3vw;
}



/*How To全体*/

#howto{
    width:100vw;
    height:150vw;
    padding:2% 0;
    background-image: url(images/3背景.png);
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: 120%;
}
#howto .heading{
    margin-bottom: 3%;
}

/*How To step1*/

#howto .howto1{
    display: flex;
    margin-bottom: 4%;
}
#howto .step1left{
    margin:9% 0 0 12%;
}
#howto .step1left p{
    margin:20% 0 20% 0;
}

#howto .step1left h5{
    color: rgba(77, 77,77, 0.85);
    text-align: center;
}

.howto1 .eye, .howto1 .eye2{
    color: rgba(77, 77,77, 0.9);
}

#howto .htimg{
    margin: 10% 2% auto 2%;
}

#howto .eyeimg{
    width:120px;
    margin-bottom: 6%;
}

#howto .htex{
    margin-top: 10%;
    padding-top: 2%;
    width:33vw;
}

#howto .ht{
    margin-bottom: 11%;
    color: rgba(77, 77,77, 0.9);
}

/*How To step2*/

#howto .howto2{
    width:34vw;
    padding-top: 3vw;
    margin-left: 55%;
    text-align: center;
}

#howto .howto2 h5{
    color: rgba(77, 77,77, 0.85);
}

#howto .howto2 p{
    display: block;
    text-align: left;
    width:34vw;
    color: rgba(77, 77,77, 0.9);
    margin:5% 0;
}


/*How To step3*/

#howto .howto3{
    width:34vw;
    text-align: center;
    position: relative;
    top:-6vw;
    left:5vw;
}

#howto .howto3 p{
    display: block;
    text-align: left;
    width:34vw;
    color: rgba(77, 77,77, 0.9);
}

#howto .howto3 h5{
    color: rgba(77, 77,77, 0.85);
    margin:5% 0;
}


/*Item全体*/
#item{
    width:100vw;
    height:185vw;
    padding:2% 0;
}

/*Item ヘッダー*/

.itemheader{
    display:flex;
    justify-content: center;
    text-align: center;
    margin:5% auto;
    width: 65vw;
    background-color: rgba(255,218,167,0.2);
    border-radius: 43px;
}

.itemheader div{
    font-size: 36px;
}

.itemheader a{
    margin:1% 4%;
    padding: 5% auto;
    display: inline-block;
    color: rgba(77, 77,77, 0.7);
    text-decoration: none;
    transition: .3s;
}

.itemheader a:hover{
    color:rgba(171,139,172,0.9);
}


/*Itemについて*/
.slider{
    margin:2% auto;
    width:60vw;
}

.slick-initialized .slick-slide{
    background-color: #F4EADF;
    height:36vw;
    width:36vw;
    margin: 2% 1.5% 4%;
}

.item3 h3{
    margin-left: 20%;
    color: rgba(77, 77,77, 0.7);
}

.slider .each img{
    width:23vw;
    display: block;
    margin:15% auto;
}

.each .eachex{
    width:22vw;
    display: block;
    margin:15% auto 0;
    color: rgba(77, 77,77, 0.9);
}

.slider .eachex h4{
    margin-bottom: 5%;
}


.prev_icon{
    position: absolute;
    top: 64%;
    left:-7.5%;
    transform: translate(0,-50%);
    width: 58px;
    z-index: 1;
  }
  .next_icon{
    position: absolute;
    top: 64%;
    right:-7.5%;
    transform: translate(0,-50%);
    width: 58px;
    z-index: 1;
  }


.slick-disabled, .prev_icon.slick-disabled {
    visibility: hidden;
}


/*topへ戻るのbuttonについて*/
#item .daibutton{
    width:220px;
    margin:0 auto;
}

#button2 a{
    display:block;
    margin-top: 40px;
    width:220px;
    height:50px;
    line-height: 50px;
    color:#AB8BAC;
    text-decoration: none;
    background: #fff;
    border-radius: 20px;
    font-size: 16px;
    font-family: "Hiragino Maru Gothic ProN";
}

#button2 a:hover{
    background:rgba(171,139,172,0.3);
    border: rgba(244,234,223,0.3);
    color:#fff;
    transition:all .3s;
}

#button a::after{
    background: #fff;
    color:#AB8BAC;
}


/*footer*/
footer{
    height:80px;
    background-color: #F4EADF;
    color: #4d4d4d;
    line-height: 80px;
    text-align: center;
    font-size: 14px;
    letter-spacing:2px;
}

.sp { display: none !important; }


/*ここまで全て共通のスタイル*/

/*画面大きい②スタイル用*/
@media all and (min-width: 1700px) and (max-width:2000px){
    #howto .howto2{
        width:34vw;
        padding-top: 20vw;
        margin-left: 50vw;
    }

    #howto .howto3{
        width:34vw;
        top:-1vw;
        left:7vw;
    }

}

/*画面大きい③スタイル用*/
@media all and (min-width: 2000px){
    .about-text{
        margin:1% 3% 0 4%;
    }
    
    .about2{
        margin:0 0 35% 23%;
    }

    #howto .howto1{
        margin-top: 8%;
    }

    #howto .step1left p{
        margin:35% 0 35% 0;
    }

    #howto .eyeimg{
        margin-bottom: 25%;
    }
    
    #howto .ht{
        margin-bottom: 16%;

    }

    #howto .howto2{
        width:38vw;
        padding-top: 15vw;
        margin-left: 53vw;
    }

    #howto .howto3{
        width:34vw;
        top:4vw;
        left:9vw;
    }

}

/*ここからスマホ用のスタイル*/

@media all and (max-width:480px){

    
    /*スマホトップページ*/
    
    .main-visual,
    .concept-photo,
    .cafe-photo{
        background-attachment: scroll;
    }
    
    /*スマホ文字について*/
    h1{
        font-size: 30px;
        text-align: center;
    }
    
    h2{
        font-size: 28px;
        text-align: center;
    }
    
    h3{
        font-size: 24px;
    }
    
    h4{
        font-size: 20px;
    }
    
    h5{
        font-size: 18px;
    }
    
    p{
        font-size: 13px;
        line-height:30px;
    }
    
    @media screen and ( max-width:480px ){
        .pc { display: none !important; }
        .sp { display: block !important; }
    }
    
    /*スマホ版#first*/
    .first-img{
        width:100vw;
    }
    
    /*スマホ版About*/
    #about{
        display:block;
        background-position: 50% 15%;
        background-size: 98%;
        background-repeat: no-repeat;
        text-align: center;
        height: 70%;
        margin:0;
        padding: 0;
        border:solid 1px rgba(0,0,0,0);
    }

    .about{
        display: block;
    }

    #about .heading{
        margin:20% auto 8%; 
        padding: 0;
    }

    .about-text{
        margin:2% auto 0;
        padding:0;
        width: 80vw;
    }
    
    .about1{
        margin:0 0 2% 0; 
    }

    .about1 a{
        font-size: 20px;
    }
    
    .about2{
        margin:0 0 11% 0;
        font-size: 13px;
    }

    .about-img{
        width:92px;
        height:150px;
        position:relative;
        left:60%;
        margin:0;
    }
    
/*スマホ版color*/
#color{
    padding:0;
    margin:0;
}

#color .heading{
    margin:20% auto 8%; 
    padding: 0;
}

#color .twocolor{
    display:block;
    margin:0;
    padding:0;
}

#color .coloreach{
    margin:10% auto;
    padding:0;
    width:88vw;
    height:74vw;
    border:solid 1px rgba(0,0,0,0);
}

#color .coloreach h3{
    margin:8% 0 4%;
    padding:0;
}

#color .coloreach .cp{
    margin:0 auto;
    padding:2%;
    width:77vw;
    height:48vw;
}

.daibutton{
    margin:0;
    padding:2% 0;
}

.button1{
    margin:0;
    padding:4% 3%;
    display: inline-block;
    width:50%;
    height:20%;
}

    /*スマホ版howto*/

    /*スマホ版How To全体*/

#howto{
    padding:0;
    margin:0;
    background-image: none;
    border:solid 1px rgba(0,0,0,0);
    height:700vw;
}
#howto .heading{
    margin:8% auto 8%; 
    padding:0;
}

#howto h5{
    color: rgba(77, 77,77, 0.7);
}

/*スマホ版How To step1*/

#howto .howto1{
    display: block;
    margin:0;
    padding:0;
    border:solid 1px rgba(0,0,0,0);
}

#howto .step1left{
    margin:0;
    padding:0;
}

#howto .step1left .eyeshadow{
    width:100vw;
    background-image: url(images/howto1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    padding: 0 5%;
    margin:5% 0 0 0;
    border:solid 1px rgba(0,0,0,0);
}

#howto .step1left .eyeshadow p{
    margin:13% 0 0 0;
    padding:0;
    border:solid 1px rgba(0,0,0,0);
}

#howto .step1left .eye{
    font-size: 18px;
    text-align: center;
    margin-bottom: 3%;
    border:solid 1px rgba(0,0,0,0);
}

#howto .step1left .eye2{
    font-size: 13px;
    line-height: 38px;
    border:solid 1px rgba(0,0,0,0);    
}

#howto .sph1{
    padding:0 6%;
    margin: 8% auto;
    border:solid 1px rgba(0,0,0,0); 
}

#howto .htimg{
    margin:0;
    padding:0;
}

#howto .eyeimg{
    margin:0 auto;
    padding:0;
}

#howto .htex{
    margin:0;
    padding:0;
}

#howto .ht{
    margin:0;
    padding:0;
    border:solid 1px rgba(0,0,0,0); 
}
#howto .mihon1{
    display:inline-block;
    width: 55vw;
    margin-left: 30%;
    position:relative;
    right:-3%;
}

.sph1{
    border-radius: 30px;
}

/*スマホ版How To step2*/

#howto .howto2{
    margin:8% 0;
    padding:0;
    width:100vw;
    border:solid 1px rgba(0,0,0,0);
}

#howto .sph2{
    padding:0;
    margin: 8% auto;
    border:solid 1px rgba(0,0,0,0); 
}

#howto .howto2 p{
    width:85vw;
    display: block;
    margin: 8% auto;
    padding:0;
    border:solid 1px rgba(0,0,0,0);
}

#howto .mihon2{
    display:inline-block;
    width: 55vw;
    position: relative;
    left:-7%;
}

/*スマホ版How To step3*/

#howto .howto3{
    width:100vw;
    margin:0;
    padding:0;
    position:initial;
    border:solid 1px rgba(0,0,0,0);
}

#howto .sph3{
    padding:0;
    margin: 8% auto;
    border:solid 1px rgba(0,0,0,0); 
}

#howto .howto3 p{
    width:85vw;
    margin:8% auto;
    padding:0;
    border:solid 1px rgba(0,0,0,0);
}

#howto .howto3 h5{
    margin:0;
    padding:0;
}

#howto .mihon3{
    display:inline-block;
    width: 55vw;
    margin:0 0 0 30%; 
}


/*スマホ版item*/
/*スマホ版Item全体*/
#item{
    width:100vw;
    height:420vw;
    background: #fff;
    margin:0;
    padding:0;
}

#item .heading{
    margin:8% auto; 
    padding:8% 0 0 0;
}

/*スマホ版Item ヘッダー*/

.itemheader{
    background-color: #fff;
    border: solid 1px #ab8bac;
    width:90vw;
    margin:0 auto;
    padding:0;
}

.itemheader div{
    font-size: 18px;
}

.itemheader h5{
    font-size: 11px;
}


.itemheader a{
    margin:0 5%;
    padding:4% 0;
    color:rgba(171,139,172);
}

.itemheader a:hover{
    color:rgba(171,139,172,0.7);
}


/*スマホ版Itemについて*/

.item3 h3{
    margin:0 0 3% 0;
    text-align: center;
    bottom:3%;
}

.each img{
    display: block;
    margin:5% auto;
    width:255px;
}

.slick-initialized .slick-slide{
    height:78vw;
    width:88vw;
    margin: 0.3% 3% 0.2%;
}

.slider2 .each{
    height:88vw;
}
.slider2 .eachex{
    color: rgba(77, 77,77, 0.7);
    width:85%;
    margin:13% auto 3%;
}

.slider2 .eachex h4{
    margin-bottom: 5%;
    font-size: 16px;
}

.slider2 .eachex h5{
    font-size: 14px;
}

.prev_icon{
    position: absolute;
    top: 64%;
    left:1%;
    transform: translate(0,-50%);
    width: 40px;
    z-index: 1;
  }
  .next_icon{
    position: absolute;
    top: 64%;
    right:1%;
    transform: translate(0,-50%);
    width: 40px;
    z-index: 1;
  }

.slick-disabled, .prev_icon.slick-disabled {
    visibility: hidden;
}


#item .daibutton{
    width:170px;
    margin:0 auto;
}

#button2 a{
    display:block;
    margin-top:0;
    width:170px;
    height:30px;
    line-height: 30px;
    border:solid 1px #ab8bac;
}

#button2 a:hover{
    background:rgba(171,139,172,0.3);
    border: rgba(244,234,223,0.3);
    color:#fff;
    transition:all .1s;
}

#button a::after{
    background: #fff;
    color:#AB8BAC;
    border:solid 1px #ab8bac;
}

#eyeshadow,#glitter,#mascara{
    margin: 12% auto;
}

}




   









    